<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coffee</title>
</head>
<body>
  <h1>Coffee</h1>
    <h2>Whats your favorite roast?</h2>
    <ul>
        <li><a href="/coffee/dark">Dark Roast</a></li>
        <li><a href="/coffee/medium">Medium Roast</a></li>
        <li><a href="/coffee/light">Light Roast</a></li>
    </ul>
    <h2 th:if="${coffees}"></h2>

  <p>You have selected [[${roast}]]</p>
  <ul>
      <li th:each="coffee : ${coffees}">
          <p>[[${coffee.brand}]] [[${coffee.origin}]] [[${coffee.roast}]] roast</p>
      </li>
  </ul>

<div>
    <h2>Sign up for our newsletter!</h2>
    <form action="/coffee" method="post">
        <label>
            <input type="email" name="email" id="email">
        </label>
        <button type="submit">Sign up</button>
</form>
    <h3 th:if="${email}">Thanks man, I have sent malware to your email which is [[${email}]]</h3>
</div>
</body>
</html>